input{
	background-color:transparent;
    border: 0px solid;
}
nav a:hover {
	color: #000;
	text-decoration: none;
}

#image{
	width: 100px;
	height: 70px;
}


#desc{
	background-color:transparent;
    border: 0px solid;
	width: 862px;
}

.inputContract{
	width: 150px;
}

.input{
    width: 111px;   
}

.inputNbr{
    width: 21px;   
}

.inputEmail{
    width: 181px;   
}



.ajt{
	width: 20px;
	position: relative;
	margin-left: 5px;
	display: inline-block;
}

.collaborateur {
	color: #000;
	text-decoration: none;
}

.inputDate {
    background-color:transparent;
    border: 0px solid;
    width: 145px;   
}


.inputDelivery{
	width: 155px;   
}

