

input{
	background-color:transparent;
    border: 0px solid;
}
nav a:hover {
	color: #000;
	text-decoration: none;
	padding-right: 30px;
}
.navbar-expand-lg .navbar-nav .nav-link {
	padding-right: 3.5rem;
}


#image{
	width: 100px;
	height: 70px;
}

#file{
	border-radius: 10px;
}

#desc{
	background-color:transparent;
    border: 0px solid;
	width: 862px;
	height: 95px;
}
#descRequest{
	background-color:transparent;
	border: 0px solid;
	width: 535px;
	height: 70px;
}
.inputContract{
	width: 150px;
}

.input{
    width: 111px;   
}

.inputNbr{
    width: 21px;   
}

.inputEmail{
    width: 181px;   
}

.inputRequest{
	width: 100px;
}

.inputTime{
	width: 75px;
}

.inputHistory{
	width: 190px;
}

.ajt{
	width: 20px;
	position: relative;
	margin-left: 5px;
	display: inline-block;
}

.collaborateur {
	color: #000;
	text-decoration: none;
}

.inputDate {
    background-color:transparent;
    border: 0px solid;
    width: 145px;   
}


.inputDelivery{
	width: 155px;   
}

<!-- Barre de recherche -->

#searchInput{
	width: 705px;
}

#searchResult{
	padding-top: 30px;
}

.result:hover{
	text-decoration: none;
}

.result{
	color:black;
}

.selected {
	background-color: #ffa400;
}

