.input{
    width: 111px;   
}

.inputNbr{
    width: 21px;   
}

.inputEmail{
    width: 141px;   
}

input{
	background-color:transparent;
    border: 0px solid;
}
nav a:hover {
	color: #000;
	text-decoration: none;
}

.ajt{
	width: 20px;
	position: relative;
	margin-left: 5px;
	display: inline-block;
}

.collaborateur {
	color: #000;
	text-decoration: none;
}

