main h2 {
  margin-left: 22%;
  color: white;
  font-family: 'Baloo Thambi 2', cursive;
}

main p {
  margin-left: 12%;
  color: white;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
}

main a {
  margin-left: 32%;
  color: white;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
}

#blocker {
    border-radius: 20px;
    padding-left: 5%;
    position: absolute;
    margin-left: 10%;
    margin-top: 10%;
    width: 80%;
    height: 30%;
    background-color: rgba(0,0,0,0.6);
  }
